nav {
  background-color: rgba(51, 71, 86, 0.9);
}

.navbar-nav {
  margin-left: 20px;
  padding-left: 20px;
}
#deroulant {
  background-color: rgba(51, 71, 86, 0.5);
}

#lis-deroulant:hover {
  font-size: 18px;
  background-color: rgba(52, 59, 85, 0.8);
  color: rgba(230, 221, 196, 1);
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: rgb(51, 86, 80);
}

#formulaire {
  margin-top: 50px;
  padding-top: 45px;
  width: 550px;
  height: 400px;
  background-color: rgba(103, 137, 131, 0.1);
  border-radius: 10px;
  box-shadow: 1px 1px 15px 2px rgba(36, 105, 71, 0.4);
}
#champs {
  background-color: rgba(230, 221, 196, 0.1);
  border: 0px;
  border-top: 2px solid rgba(32, 78, 114, 0.5);
  border-bottom: 2px solid rgba(32, 78, 114, 0.5);
}

#btn_envoyer {
  font-weight: bold;
  color: rgb(49, 43, 43);
  width: 100px;
  height: 35px;
  background-color: rgba(103, 137, 131, 1);
  border: 1px solid rgba(32, 78, 114, 0.5);
  border-radius: 8px;
  margin-top: 5px;
}

#btn_envoyer:hover {
  box-shadow: 1px 1px 15px 2px rgba(36, 105, 71, 0.4);
  color: rgb(36, 63, 47);
}
#btn_envoyer:active {
  background-color: rgb(77, 91, 141);
  color: rgb(218, 230, 226);
}
h5 {
  color: rgb(36, 63, 47);
  text-align: center;
}
