nav {
  background-color: rgba(51, 71, 86, 1);
}

.navbar-nav {
  margin-left: 20px;
  padding-left: 20px;
}

#deroulant {
  background-color: rgba(82, 149, 177, 0.7);
}

#lis-deroulant:hover {
  font-size: 18px;
  background-color: rgba(51, 71, 86, 1);
}
/* tableau */
td {
  text-align: center;
}
thead {
  text-align: center;
}
