nav {
  background-color: rgba(111, 178, 210, 0.4);
}

.navbar-nav {
  margin-left: 20px;
  padding-left: 20px;
}

#deroulant {
  background-color: rgba(111, 178, 210, 0.2);
}

#lis-deroulant:hover {
  color: green;
  font-size: 18px;
  background-color: rgba(133, 200, 138, 0.15);
}
