nav {
  background-color: rgba(51, 71, 86, 0.9);
}

.navbar-nav {
  margin-left: 20px;
  padding-left: 20px;
}
#deroulant {
  background-color: rgba(51, 71, 86, 0.5);
}

#lis-deroulant:hover {
  font-size: 18px;
  background-color: rgba(52, 59, 85, 0.8);
  color: rgba(230, 221, 196, 1);
}

#mot {
  width: 250px;
}

.btn {
  text-decoration: none;
}

.modifier {
  background-color: rgba(103, 137, 131, 1);
  border: 1px solid rgb(134, 126, 102);
}

.modifier:hover {
  background-color: rgba(230, 221, 196, 1);
  border: 1px solid rgb(134, 126, 102);
}

.delete {
  background-color: rgba(230, 221, 196, 1);
  border: 1px solid rgba(103, 137, 131, 1);
}
.delete:hover {
  background-color: rgba(103, 137, 131, 1);
}

h1 {
  color: rgb(50, 61, 59);
  text-align: center;
  text-shadow: 2px 2px 0.2px rgba(103, 137, 131, 1);
}
